*{
    margin: 0;
}

/* Define altura mínima para o corpo */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Ajuste para o conteúdo principal */
main {
    flex: 1;
}

/* Footer */
footer {
    position:static;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px; /* Espaçamento interno */
    background-color: #000;
    color: aliceblue;
}
.TabelasFooter{
    width: 100%;
    display: flex;
    justify-content:flex-start; /* Para deixar as divs lado a lado com espaço */
    flex-wrap: wrap; /* Permite que os itens que não cabem se movam para a linha seguinte */
    padding: 20px;
}
.TabelaFooter ul{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
.TabelaFooter{
    width: 20%;
    margin: 5px;
}
.TabelaFooter h5{
    color: #e5e90d;
}
.TabelaFooter a{
    color:aliceblue;
    margin-right: 5px;
}
.TabelaFooter a:hover{
    color:#e5e90d;
    text-decoration: none;
}
footer hr{
    color: #e5e90d;
    border: 0;
    border-top: 0.1px solid aliceblue;
}

@media (max-width: 768px) {
    .TabelasFooter {
        flex-direction: column; /* Alinha as divs em coluna em telas pequenas */
        align-items: center; /* Centraliza as divs na tela */
    }

    .TabelaFooter {
        width: 100%; /* Garante que as divs ocupem 100% da largura no modo coluna */
        text-align: center; /* Centraliza o conteúdo dentro das divs */
    }
}


/*FIM FOOTER*/


#contactos-container a:hover{
    color: white; /* Links em branco */
    text-decoration: none; /* Remove sublinhado dos links */
}


#contactos-container a,
#navbarNav a:hover{
    color: #e5e90d; /* Cor dos links ao passar o mouse */
}

.navbar-brand img{
    height: 50px;
    margin-left: 10px;
}



#welcome {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.61)), url('/img/VamosBem.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 520px;
    color: white;
    display: flex; /* Usar flexbox para centralizar */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    text-align: center;
    font-family: 'Roboto', sans-serif; /* Aplica a fonte Roboto */
}
/* CADASTRAR SE */
/* Estilo do botão personalizado */
.btn-cadastrar {
    background-color: rgba(229, 233, 13, 0.87); /* Cor com transparência */
    color: #000; /* Texto preto */
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

.btn-cadastrar:hover {
    background-color: black; 
    color: rgba(229, 233, 13, 0.87);
}



#welcome h1{
    color: #e5e90d;
    font-weight: bolder;
}
/* Responsividade para o título */
#welcome h1 {
    font-size: 6.5vw; /* Ajusta o tamanho com base na largura da viewport */
}

/* Responsividade para o subtítulo */
#welcome h3 {
    font-size: 2.5vw; /* Ajusta o tamanho com base na largura da viewport */
}

/* Media Queries para ajustes em telas menores */
@media (max-width: 768px) {
    #welcome h1 {
        font-size: 11vw; /* Ajuste o tamanho para telas menores */
    }
    #welcome h3 {
        font-size: 5vw; /* Ajuste o tamanho para telas menores */
    }
}

.navbar-custom {
    background-color: black !important; /* Fundo preto sólido */
}

/* DASHBOARD */

/*Dashboard Principal*/
.btn-main-dash {
    width: 70%; /* Deixa 15% de margem em cada lado */
    background-color: rgba(229, 233, 13, 0.8); /* Cor #e5e90d um pouco transparente */
    color: black; /* Texto preto */
    text-decoration: none; /* Remove sublinhado */
    text-align: center;
    padding: 15px; /* Espaço interno para maior altura */
    display: block;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);/* Adicionar sombras*/
    border-radius: 10px;
    transition: transform 0.3s ease;
}

/* Efeito de hover */
.btn-custom:hover, .btn-main-dash:hover {
    color: black;
    text-decoration: none;
    transform: scale(1.05);
}
.btn-custom:active, .btn-main-dash:active {
    background-color: black; /* Cor de fundo ao clicar */
    color:  rgba(229, 233, 13, 0.87); /* Cor do texto ao clicar */
    box-shadow: 0 0 5px rgba(229, 233, 13, 0.87);
}

/* Personalizar a borda ao focar no botão */
.btn-custom:focus, .btn-main-dash:focus {
    outline: none; /* Retira o contorno padrão */
    border: 2px solid rgba(229, 233, 13, 0.87); /* Cor personalizada para a borda ao focar */
    box-shadow: 0 0 5px rgba(229, 233, 13, 0.87);
}

#btn-lista:active{
    background-color: #e5e90d;
    box-shadow: 0 0 5px rgba(229, 233, 13, 0.87);
}
#btn-lista:focus{
    outline: none; /* Retira o contorno padrão */
    border: 2px solid rgba(229, 233, 13, 0.87); /* Cor personalizada para a borda ao focar */
    box-shadow: 0 0 5px rgba(229, 233, 13, 0.87);
}



/* FIM DASHBOARD*/



/*CADASTRAR MOTORISTA*/
#CadastrarMotorista {
    margin-bottom: 100px;
}
#CadastrarMotorista form {
    margin-bottom: 50px;
}

/*Para espaco*/

#space{
    margin-bottom:5%;
}
#subtitle-vamos{
    margin-bottom: 40px;
}

/* TELAS PRINCIPAIS  */

/*ESTUDANTE*/
.container {
    margin-top: 30px;
}
.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

}
.card-header {
    background-color: black;
    color: rgba(229, 233, 13, 0.87);
    border-radius: 10px;
}
.card-body {
    background-color: white;
    color: black;
}
.map-container {
    height: 300px;
    background: #e9ecef;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6c757d;
    font-size: 18px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}
.btn {
    color: black;
    background-color: #e5e90d;
    transition: transform 0.3s ease;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); /* Sombra leve */
}
.btn:hover {
    color: black;
    background-color: #e5e90d;
    transform: scale(1.05);
}
.btn:active {
    background-color: black; /* Cor de fundo ao clicar */
    color:  rgba(229, 233, 13, 0.87); /* Cor do texto ao clicar */
    box-shadow: 0 0 5px rgba(229, 233, 13, 0.87);
}

/* Personalizar a borda ao focar no botão */
.btn:focus {
    outline: none; /* Retira o contorno padrão */
    border: 2px solid rgba(229, 233, 13, 0.87); /* Cor personalizada para a borda ao focar */
    box-shadow: 0 0 5px rgba(229, 233, 13, 0.87);
}

.text-muted {
    color: rgba(0, 0, 0, 0.5);
}


/*RESPONSAVEL*/

.student-link {
    background-color: rgba(229, 233, 13, 0.87);
    color: black;
    transition: transform 0.3s ease;  
}
.student-link:hover {
    background-color: rgba(229, 233, 13, 0.87);
    color: black;
    transform: scale(1.05);
}
.dados-pessoais, .outro, #dados-responsavel {

    border-radius: 10px; /* Arredondamento das bordas */
    padding: 20px; /* Espaçamento interno */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Sombra leve */
}
#dados-responsavel{
    text-align: left;
}
#dados-responsavel h5{
    margin-bottom: 20px;
}

/*ALGUNS DADOS DAS TELAS*/

.viagem{
    margin: 4px;
}

/* Imagem de perfil */
.rounded-circle {
    border: 0.5px solid black; /* Borda preta na imagem */
    object-fit: cover; /* Garante que a imagem preencha o círculo */
}
.dados-pessoais{
    display: flex;
    justify-content: center;
    align-items: center;
}
.editar{
    width: 100%;
}
/* Estilo do container da foto de perfil */
.profile-photo-container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid black; /* Borda preta */
    overflow: hidden; /* Garante que a imagem fique dentro do círculo */
    background-color: #f0f0f0; /* Cor de fundo cinza claro */
    margin-bottom: 20px;
}

.profile-photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta a imagem para preencher o círculo */
}

.profile-photo-container ion-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: gray;
}


/* PARA TODOS OS INPUTS */
.form-control{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
    border: 1px solid;
}
.form-control:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(229, 233, 13, 0.87);
}
.form-control:active {
   border-color:rgba(229, 233, 13, 0.87);
}
/* Personalizar a borda ao focar no botão */
.form-control:focus {
    outline: none; /* Retira o contorno padrão */
    box-shadow: 0 0 5px rgba(229, 233, 13, 0.87);
    border: 2px solid rgba(229, 233, 13, 0.87); /* Cor personalizada para a borda ao focar */
}

/*TELA DE ADICIONAR ESTUDANTES*/
.custom-container {
    max-width: 60%;
    margin: 0 auto;
}

/* Centraliza e define a largura da barra de pesquisa */
.search-bar {
    max-width: 70%;
    margin: 0 auto;
}

/* Card de foto do estudante */
.photo-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    border: 1px solid black;
    margin: 5px;
}
.custom-container{
    padding: 10px;
}
#card-selecionar{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin-bottom: 20px;
}

/* ESTILO PAPA TITULO H2 SELECIONAR ESTUDANTE  */
.fs-responsive {
    font-size: 1.5rem; /* Tamanho base para telas pequenas */
}

@media (min-width: 768px) {
    .fs-responsive {
        font-size: 2.5rem; /* Tamanho maior para telas médias e maiores */
    }
}

/*selecao de estudante*/

.dados-usuario{
    margin: 5px;
}
.informacao-usuario{
    margin-bottom: 10px;
}

.sucess{
    width: 100%;
    background-color:#28a745;
    color: #01270a;
    text-align: center;
    margin: 0;
    padding: 5px;
    height: 40px;
}

.alert{
    width: 100%;
    background-color:#ffc107;
    color: black;
    text-align: center;
    margin: 0;
    padding: 5px;
    height: 40px;
}

.error{
    width: 100%;
    background-color: #dc3545;
    color: #e9ecef;
    text-align: center;
    margin: 0;
    padding: 5px;
    height: 40px;
}

.table-responsive{
    max-height: 300px; 
    overflow-y: auto;
}

#action{
    display: flex;
}
.action{
    margin: 5px;
}
.notificacoes, .overflow {
    max-height: 250px; /* Define um limite de altura para a área de notificações */
    overflow-y: auto;  /* Exibe a rolagem vertical quando necessário */
}

